<mat-card>

        <mat-card-title>Register</mat-card-title>

        <form>
          
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Name" [(ngModel)]="customer.name" name="name"  >
                <mat-error>
                  Please provide a formControlName
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email" [(ngModel)]="customer.email" name="email">
                <mat-error>
                  Please provide a valid email address
                </mat-error>
            </mat-form-field>
            
            <mat-form-field >
                <input matInput type="password" placeholder="Password" [(ngModel)]="customer.password" name="password">
                <mat-error>
                  Please provide a valid password
                </mat-error>
            </mat-form-field>

            <mat-form-field >
                <input matInput type="password" placeholder="Confirm Password" >
                <mat-error>
                  Please provide a valid password
                </mat-error>
            </mat-form-field>
     
        </form>

        <button mat-raised-button (click)="createCustomer()" color="primary">Save</button>

</mat-card>


